<!doctype html>
<html lang="en" xmlns:th="http://wwwthymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="validadorCPF.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Cadastro</title>
</head>
<body>
<script type="text/javascript">


    function validaCampoVazio(campo){
        if(campo.trim() == ''){
            return true;
        }else{
            return false;
        }
    }

    function validaEnvio(){
        let podeEnviar = true;
        let nome = $("#Nome").val();
        let cpf = $("#CPF").val();
        let email = $("#Email").val();
        let dataNasc = $("#Datanasc").val();
        let telefone = $("#Telefone").val();
        let senha = $("#Senha").val();
        let confsenha = $("#Confsenha").val();

        $("#errorMensage").text('')
        if(validaCampoVazio(nome)){
            podeEnviar = false;
            $("#errorMensage").append("O nome precisa ser preenchido<br/>");
        }if(!validarCPF(cpf)){
             podeEnviar = false;
            $("#errorMensage").append("O cpf precisa ser preenchido<br/>");
        }if(validaCampoVazio(email) && validaCampoVazio(telefone)){
            podeEnviar = false;
            $("#errorMensage").append("O telefone ou o email precisa ser preenchido<br/>");
        }if(validaCampoVazio(dataNasc)){
             podeEnviar = false;
            $("#errorMensage").append("A data de nascimento precisa ser preenchido<br/>");
        }if(validaCampoVazio(senha) || senha != confsenha){
              podeEnviar = false;
            $("#errorMensage").append("A senha precisa ser informada e igual a confirmação de senha<br/>");
        }

        if(podeEnviar){
            $.ajax({
                type: "POST",
                url: "/cadastro",
                data:{
                    nome:nome,
                    email:email,
                    cpf:cpf,
                    telefone:telefone,
                    dataNasc:dataNasc,
                    senha:senha,
                    confSenha:confsenha,
                },
                success: function(data){
                    $("#errorMensage").text('')
                    if(data.sucesso){
                        alert("Deu bom");
                    }else{
                        $("#errorMensage").append(data.mensagem);
                    }
                },
                error: function(){
                    alert("Deu ruim");
                }
            });
        }
    }


</script>
<div class="container mt-5">
    <div id="errorMensage">
    </div>
    <h1 class="text-center">Cadastro</h1>
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="sp_nome"><i class="fa-solid fa-user"></i></span>
                <input id="Nome" name="Nome" type="text" class="form-control" placeholder="Nome"
                       aria-label="Nome" aria-describedby="sp_nome">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="sp_email"><i class="fa-regular fa-at"></i></span>
                <input id="Email" name="Email" type="text" class="form-control" placeholder="E-mail"
                       aria-label="E-mail" aria-describedby="sp_email">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="sp_cpf"><i class="fa-solid fa-id-card"></i></span>
                <input id="CPF" name="CPF" type="text" class="form-control" placeholder="CPF"
                       aria-label="CPF" aria-describedby="sp_cpf">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="sp_telefone"><i class="fa-solid fa-phone"></i></span>
                <input id="Telefone" name="Telefone" type="text" class="form-control" placeholder="Telefone"
                       aria-label="Telefone" aria-describedby="sp_telefone">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="sp_data"><i class="fa-regular fa-calendar-days"></i></span>
                <input id="Datanasc" name="Datanasc" type="date" class="form-control"
                       placeholder="Data nascimento" aria-describedby="sp_data">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="sp_senha"><i class="fa-solid fa-key"></i></span>
                <input id="Senha" name="Senha" type="password" class="form-control" placeholder="Senha"
                       aria-label="Senha" aria-describedby="sp_senha">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="sp_confirmasenha"><i class="fa-solid fa-lock"></i></span>
                <input id="Confsenha" name="Confirmsenha" type="password" class="form-control"
                       placeholder="Confirma senha"
                       aria-label="Confirma senha" aria-describedby="sp_confirmasenha">
            </div>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-danger" href="/">Cancelar</a>
        </div>
        <div class="col-sm-6 text-right">
            <button id="enviar" class="btn btn-success" onclick="validaEnvio()">Cadastrar</button>
        </div>
    </div>
</div>
</body>
</html>