<!doctype html>
<html lang="en" xmlns:th="http://wwwthymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="validadorCPF.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Cadastro</title>
    <style>
    /* Adjust the z-index of the toast to make it appear above input fields */
    .toaster {
        z-index: 1000; /* You can adjust this value as needed */
    }
    .error-field{
        border: 1px solid red;
        border-radius: 0.375rem;
        box-shadow: 0px 0px 5px 0px red;
    }
    h1{
        text-shadow: -1px 1px 1px #aaa;
    }
    input:focus{
        box-shadow: 0px 4px 4px 3px #aaa !important;
        z-index: -3;
    }
    </style>
</head>
<body>
<script type="text/javascript">


    function validaCampoVazio(campo){
        if(campo.trim() == ''){
            return true;
        }else{
            return false;
        }
    }

    function createToastArea(){
       if($(".toaster").length == 0){
            $("body").prepend(''+
               '<div aria-live="polite" aria-atomic="true"'+
               'class="position-absolute top-0 end-0 erros">'+
               '<div class="toaster position-absolute top-0 end-0">'+
               '</div>'+
               '</div>');
       }
    }

    function showToast(alerta) {
        createToastArea();
        let tipo
        if(alerta.sucesso){
            tipo = ' bg-success ';
        }else{
            tipo = ' bg-danger ';
        }
        const toastElement = $('<div class="mt-1 toast align-items-center'+tipo+'text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">'+
                                    '<div class="d-flex">'+
                                        '<div class="toast-body">'+
                                            alerta.mensagem+
                                        '</div>'+
                                        '<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>'+
                                    '</div>'+
                               '</div>');

            toastElement.on('hidden.bs.toast', function () {
                $(this).remove();
            });

            $(".toaster").append(toastElement);
            const newToast = new bootstrap.Toast(toastElement);
            newToast.show();
        }

    function validaEnvio(){
        let podeEnviar = true;
        let nome = $("#nome").val();
        let cpf = $("#cpf").val();
        let email = $("#email").val();
        let dataNasc = $("#dataNasc").val();
        let telefone = $("#telefone").val();
        let senha = $("#senha").val();
        let confSenha = $("#confSenha").val();

        $("#errorMensage").text('')
        $(".error-field").removeClass("error-field");
        if(validaCampoVazio(nome)){
            podeEnviar = false;
            showToast({sucesso: false, mensagem : "O nome precisa ser preenchido"});
            $(".gNome").addClass("error-field");
        }if(!validarCPF(cpf)){
             podeEnviar = false;
            showToast({sucesso: false, mensagem : "O cpf precisa ser preenchido"});
            $(".gCpf").addClass("error-field");
        }if(validaCampoVazio(email) && validaCampoVazio(telefone)){
            podeEnviar = false;
            showToast({sucesso: false, mensagem : "O telefone ou o email precisa ser preenchido"});
            $(".gTelefone").addClass("error-field");
            $(".gEmail").addClass("error-field");
        }if(validaCampoVazio(dataNasc)){
             podeEnviar = false;
            showToast({sucesso: false, mensagem : "A data de nascimento precisa ser preenchido"});
            $(".gDataNasc").addClass("error-field");
        }if(validaCampoVazio(senha) || senha != confSenha){
              podeEnviar = false;
            showToast({sucesso: false, mensagem : "A senha precisa ser informada e igual a confirmação de senha"});
            $(".gSenha").addClass("error-field");
            $(".gConfSenha").addClass("error-field");
        }

        if(podeEnviar){
            $.ajax({
                type: "POST",
                url: "/cadastro",
                data:{
                    nome:nome,
                    email:email,
                    cpf:cpf,
                    telefone:telefone,
                    dataNasc:dataNasc,
                    senha:senha,
                    confSenha:confSenha,
                },
                success: function(data){
                    $("#errorMensage").text('')
                    if(data.sucesso){
                        window.location.href="/";
                    }else{
                        $("#errorMensage").append(data.mensagem);
                    }
                },
                error: function(){
                    alert("Deu ruim");
                }
            });
        }
    }



</script>
<div class="container mt-5">
    <div id="errorMensage">
    </div>
    <h1 class="text-center">Cadastro</h1>
    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="input-group mb-3 gNome">
                <span class="input-group-text" id="sp_nome"><i class="fa-solid fa-user"></i></span>
                <input id="nome" name="Nome" type="text" class="form-control" placeholder="Nome"
                       aria-label="Nome" aria-describedby="sp_nome">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group mb-3 gEmail">
                <span class="input-group-text" id="sp_email"><i class="fa-regular fa-at"></i></span>
                <input id="email" name="Email" type="text" class="form-control" placeholder="E-mail"
                       aria-label="E-mail" aria-describedby="sp_email">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group mb-3 gCpf">
                <span class="input-group-text" id="sp_cpf"><i class="fa-solid fa-id-card"></i></span>
                <input id="cpf" name="CPF" type="text" class="form-control" placeholder="CPF"
                       aria-label="CPF" aria-describedby="sp_cpf">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group mb-3 gTelefone">
                <span class="input-group-text" id="sp_telefone"><i class="fa-solid fa-phone"></i></span>
                <input id="telefone" name="Telefone" type="text" class="form-control" placeholder="Telefone"
                       aria-label="Telefone" aria-describedby="sp_telefone">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group mb-3 gDataNasc">
                <span class="input-group-text" id="sp_data"><i class="fa-regular fa-calendar-days"></i></span>
                <input id="dataNasc" name="Datanasc" type="date" class="form-control"
                       placeholder="Data nascimento" aria-describedby="sp_data">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group mb-3 gSenha">
                <span class="input-group-text" id="sp_senha"><i class="fa-solid fa-key"></i></span>
                <input id="senha" name="Senha" type="password" class="form-control" placeholder="Senha"
                       aria-label="Senha" aria-describedby="sp_senha">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="input-group mb-3 gConfSenha">
                <span class="input-group-text" id="sp_confirmasenha"><i class="fa-solid fa-lock"></i></span>
                <input id="confSenha" name="Confirmsenha" type="password" class="form-control"
                       placeholder="Confirma senha"
                       aria-label="Confirma senha" aria-describedby="sp_confirmasenha">
            </div>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-danger" href="/">Cancelar</a>
        </div>
        <div class="col-sm-6 text-end">
            <button id="enviar" class="btn btn-success" onclick="validaEnvio()">Cadastrar</button>
        </div>
    </div>
</div>
</body>
</html>